@model Nhom3.Model.TAIKHOAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa tài khoản</h2>


<style>
    .dl-horizontal {
        padding-left: 10rem;
    }

    dl dd {
        padding-left: 8rem;
    }
</style>
<h3>Bạn có chắc muốn xóa hóa đơn này??</h3>
<div>
    <dl class="dl-horizontal col-lg-4">
        <dt>
            @Html.LabelFor(model => model.TENDANGNHAP, "Tên đăng nhập", htmlAttributes: new { @class = "bmd-label-floating" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDANGNHAP)
        </dd>

        <dt>
            @Html.LabelFor(model => model.MATKHAU, "Mật khẩu", htmlAttributes: new { @class = "bmd-label-floating" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>
        <dt>
            @Html.LabelFor(model => model.KHACHHANG.TENKH, "Tên khách hàng", htmlAttributes: new { @class = "bmd-label-floating" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>
        <dt>
            @Html.LabelFor(model => model.QUYEN.TENQUYEN, "Quyền sử dụng", htmlAttributes: new { @class = "bmd-label-floating" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUYEN.TENQUYEN)
        </dd>

        <dt>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Xóa" class="btn btn-sm btn-primary normal-text" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-sm btn-primary normal-text" })}
        </dt>
    </dl>
</div>
