@model Nhom3.Model.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="row bg-primary">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align:left;">Chi tiết sản phẩm</h1>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-top:20px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           
            <div class="col-md-12">
                @Html.LabelFor(model => model.TENSANPHAM, htmlAttributes: new { @class = "control-label", @style = "float:left;" })
                @Html.EditorFor(model => model.TENSANPHAM, new { htmlAttributes = new { @class = "form-control", disabled = "disabled",@style="padding:10px;" } })
                @Html.ValidationMessageFor(model => model.TENSANPHAM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label", @style = "float:left;" })
                @Html.TextAreaFor(model => model.MOTA, new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.HOACHINH, htmlAttributes: new { @class = "control-label", @style = "float:left;" })

                @Html.EditorFor(model => model.HOACHINH, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.HOACHINH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
      
            <div class="col-md-12">
                @Html.LabelFor(model => model.HOAPHU, htmlAttributes: new { @class = "control-label", @style = "float:left;" })

                @Html.EditorFor(model => model.HOAPHU, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.HOAPHU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
          
            <div class="col-md-12">
                @Html.LabelFor(model => model.CHIEUNGANG, htmlAttributes: new { @class = "control-label", @style = "float:left;" })

                @Html.EditorFor(model => model.CHIEUNGANG, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CHIEUNGANG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-12">
                @Html.LabelFor(model => model.CHIEUCAO, htmlAttributes: new { @class = "control-label", @style = "float:left;" })

                @Html.EditorFor(model => model.CHIEUCAO, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CHIEUCAO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-12">
                @Html.LabelFor(model => model.GIABAN, htmlAttributes: new { @class = "control-label", @style = "float:left;" })

                @Html.EditorFor(model => model.GIABAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.GIABAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
    
            <div class="col-md-12">
                @Html.LabelFor(model => model.GIAKM, htmlAttributes: new { @class = "control-label", @style = "float:left;" })

                @Html.EditorFor(model => model.GIAKM, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.GIAKM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-12">
                @Html.LabelFor(model => model.DANHMUCCON,"Danh mục", htmlAttributes: new { @class = "control-label", @style = "float:left;" })

                @Html.EditorFor(model => model.DANHMUCCON.TENDANHMUCCON, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.DANHMUCCON.TENDANHMUCCON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <p>
                    @Html.ActionLink("Sửa", "Edit", new { id = Model.MASANPHAM}, new { @class = "btn btn-sm btn-warning normal-text" }) 
                    @Html.ActionLink("Quay lại", "Index",null, new { @class = "btn btn-sm btn-primary normal-text" })
                </p>
            </div>

        </div>
    </div>
}




