@model Nhom3.Model.CHITIETDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row bg-primary">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align:left;">Chi tiết đơn hàng</h1>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.MADONHANG, "Mã đơn hàng", htmlAttributes: new { @class = "bmd-label-floating" })
            @Html.EditorFor(model => model.MADONHANG, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.SANPHAM.TENSANPHAM, htmlAttributes: new { @class = "bmd-label-floating" })
            @Html.EditorFor(model => model.SANPHAM.TENSANPHAM, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.DONHANG.HTTT.TENHTTT, "Hình thức thanh toán", htmlAttributes: new { @class = "bmd-label-floating" })
            @Html.EditorFor(model => model.DONHANG.HTTT.TENHTTT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.DONHANG.NGAYDAT, "Ngày đặt", htmlAttributes: new { @class = "bmd-label-floating" })
            @Html.EditorFor(model => model.DONHANG.NGAYDAT, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            @Html.LabelFor(model => model.DONHANG.TINHTRANG, "Tình trạng", htmlAttributes: new { @class = "bmd-label-floating" })
            @if (Model.DONHANG.TINHTRANG == 1)
            {
                @Html.EditorFor(model => model.DONHANG.TINHTRANG, "Đã thanh toán", new { htmlAttributes = new { @class = "form-control", disabled = "@disabled" } })
            }
            else
            {
                @Html.EditorFor(model => model.DONHANG.TINHTRANG, "Chưa thanh toán", new { htmlAttributes = new { @class = "form-control", disabled = "@disabled" } })
            }

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.SOLUONG, "Số lượng đặt", htmlAttributes: new { @class = "bmd-label-floating" })
            @Html.EditorFor(model => model.SOLUONG, new { htmlAttributes = new { @class = "form-control", disabled = "@disabled" } })
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-sm btn-primary normal-text" })
    </div>

</div>

