@model IEnumerable<Nhom3.Model.DANHMUC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-lg-12 bg-primary">
            <h1 class="page-header" style="text-align:left;">Quản lý danh mục</h1>
        </div>
    </div>
    
            <button class="btn btn-sm btn-success"  style="text-decoration: none; color: white; padding:10px; float:left; margin-top:10px;">
                 @Html.ActionLink("+Thêm danh mục", "Create" ,"Cagetory","",new { @style= "text-decoration: none;color: white;padding:5px;" })
            </button>
    
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>

                   
                        <th>Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {

                    <tbody>
                        <tr>
                            <td>@item.MADANHMUC</td>
                            <td>@item.TENDANHMUC</td>


                     
                            <td>
                                <button class="btn btn-sm btn-warning">
                                    <a href="@Url.Action("Edit","Cagetory", new {id = item.MADANHMUC })" style="text-decoration: none; color: white;">Sửa</a>
                                </button>

                                <button class="btn  btn-sm btn-danger">
                                    <a href="@Url.Action("Delete","Cagetory", new {id = item.MADANHMUC })" style="text-decoration: none; color: white;">Xóa</a>
                                </button>
                            </td>
                        </tr>
                       
                    </tbody>
                }
            </table>

        </div>
    </div>
